a {color: #fad200}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@font-face {
	font-family: 'gillsansmt';
	src: url('../fonts/33535gillsansmt.eot');
	src: local('../fonts/33535gillsansmt'), url('../fonts/33535gillsansmt.woff') format('woff'), url('../fonts/33535gillsansmt.ttf') format('truetype');
}
@font-face {
  font-family: 'gillsansmt';
  src: url('fonts/33535gillsansmt.eot');
  src: url('fonts/33535gillsansmt.eot?#iefix') format('embedded-opentype'),
       
       url('fonts/33535gillsansmt.woff') format('woff'),
       url('fonts/33535gillsansmt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.left-footer .textwidget,body .site-footer .left-footer li a {
	font-size: 18px;
}
.left-footer {font-family: 'gillsansmt';}
.taxonomy-description h1 ,.title-heading{
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin-bottom: 10px;
}
.taxonomy-description p {
	font-size: 30px;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}
.mediaContainer h3{
    font-weight: bold;
    margin: 10px 0 5px; text-transform: uppercase;
}
.project-detail h2 {
	 font-weight: bold!important;
}
.mediaContainer .col-30 h2 {
	font-size: 16px;font-weight: bold;
	font-style: italic;
}
.mediaContainer h2 ,.project-more h3 {
	 text-transform: uppercase;
}
.mediaContainer h2 a {
	  color: #00cccb;
    text-transform: uppercase;
    font-weight: bold;
}
h1,h2,h3,h4 {
	font-family: 'gillsansmt';
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1416">Text with this font applied</p> */
.fontsforweb_fontid_1416 {
	font-family: 'gillsansmt' !important;
}
.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.format-audio .entry-content:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
	clear: both;
}

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
	content: "";
	display: table;
}

/**
 * 5.11 404
 * ----------------------------------------------------------------------------
 */

.error404 .page-header {
	background-color: #fff;
}

.error404 .page-title {
	line-height: 0.6;
	margin: 0;
	padding: 300px;
	position: relative;
	text-align: center;
	width: auto;
}

.error404 .page-title:before {
	color: #e8e5ce;
	content: "\f423";
	font-size: 964px;
	line-height: 0.6;
	overflow: hidden;
	position: absolute;
	left: 7px;
	top: 28px;
}

.error404 .page-wrapper {
	background-color: #e8e5ce;
}

.error404 .page-header,
.error404 .page-content {
	margin: 0 auto;
	max-width: 1040px;
	padding-bottom: 40px;
	width: 100%;
}


/**
 * 5.12 Comments
 * ----------------------------------------------------------------------------
 */

.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}




.comment-list,
.comment-list .children {
	list-style-type: none;
	padding: 0;
}

.comment-list .children {
	margin-left: 20px;
}

.comment-list > li:after,
.comment-list .children > li:before {
	background: url(images/dotted-line.png) repeat left top;
	background-size: 4px 4px;
	content: "";
	display: block;
	height: 1px;
	width: 100%;
}

.comment-list > li:last-child:after {
	display: none;
}

.comment-body {
	padding: 24px 0;
	position: relative;
}

.comment-author {
	float: left;
	max-width: 74px;
}

.comment-author .avatar {
	display: block;
	margin-bottom: 10px;
}

.comment-author .fn {
	word-wrap: break-word;
}

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
	color: #00ccce;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.says {
	display: none;
}

.no-avatars .comment-author {
	margin: 0 0 5px;
	max-width: 100%;
	position: relative;
}

.no-avatars .comment-metadata,
.no-avatars .comment-content,
.no-avatars .comment-list .reply {
	width: 100%;
}

.bypostauthor > .comment-body .fn:before {
	content: "\f408";
	vertical-align: text-top;
}

.comment-list .edit-link {
	margin-left: 20px;
}

.comment-metadata,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
	float: right;
	width: 79%;
	width: -webkit-calc(100% - 124px);
	width:         calc(100% - 124px);
	word-wrap: break-word;
}

.comment-meta,
.comment-meta a {
	color: #a2a2a2;
	font-size: 13px;
}

.comment-meta a:hover {
	color: #ea9629;
}

.comment-metadata {
	margin-bottom: 20px;
}

.ping-meta {
	color: #a2a2a2;
	font-size: 13px;
	line-height: 2;
}

.comment-awaiting-moderation {
	color: #a2a2a2;
}

.comment-awaiting-moderation:before {
	content: "\f414";
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.comment-reply-link:before,
.comment-reply-login:before {
	content: "\f412";
	margin-right: 3px;
}

/* Comment form */
.comment-respond {
	background-color: #f7f5e7;
	padding: 30px ;
}

.comment .comment-respond {
	margin-bottom: 20px;
	padding: 20px;
}

.comment-reply-title {
	font: 300 italic 28px "Source Sans Pro", Helvetica, sans-serif;
}

.comment-reply-title small a {
	color: #131310;
	display: inline-block;
	float: right;
	height: 16px;
	overflow: hidden;
	width: 16px;
}

.comment-reply-title small a:hover {
	color: #ed331c;
	text-decoration: none;
}

.comment-reply-title small a:before {
	content: "\f406";
	vertical-align: top;
}

.sidebar .comment-list .comment-reply-title,
.sidebar .comment-list .comment-respond .comment-form {
	padding: 0;
}

.comment-form .comment-notes {
	margin-bottom: 15px;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
	margin-bottom: 8px;
}

.comment-form [for="author"],
.comment-form [for="email"],
.comment-form [for="url"],
.comment-form [for="comment"] {
	float: left;
	padding: 5px 0;
	width: 120px;
}

.comment-form .required {
	color: #ed331c;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	max-width: 270px;
	width: 60%;  height: 30px;
	border: 1px solid #fad200;
	padding-left: 10px;
	padding-right: 10px;
}

.comment-form textarea {
	width: 100%;
	padding: 10px;
}

.form-allowed-tags,
.form-allowed-tags code {
	color: #686758;
	font-size: 12px;
}

.form-allowed-tags code {
	font-size: 10px;
	margin-left: 3px;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}

.comment-navigation {
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0 auto;
	max-width: 604px;
	padding: 20px 0 30px;
	width: 100%;
}

.no-comments {
	background-color: #f7f5e7;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 40px 0;
	text-align: center;
}

.sidebar .no-comments {
	padding-left: 60px;
	padding-right: 376px;
}

@font-face {
  font-family: 'OratorStd';
  src: url('fonts/OratorStd.eot');
  src: url('fonts/OratorStd.eot?#iefix') format('embedded-opentype'),
       url('fonts/OratorStd.woff2') format('woff2'),
       url('fonts/OratorStd.woff') format('woff'),
       url('fonts/OratorStd.ttf') format('truetype'),
       url('fonts/OratorStd.svg#OratorStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
	margin:0;
	padding: 0;
}
.form-submit .submit {
	    background: #122e4e none repeat scroll 0 0 !important;
    color: #fad200;cursor: pointer;
}.form-submit .submit:hover {
	       background: #fad200 none repeat scroll 0 0 !important;
    color: #122e4e;
}
h2 ,h3,h1,h4{
	font-weight: 700;line-height: 114%;
}
h2 {
	font-size: 24px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

iframe {
    border: none;
}
body {
	font-size: 14px;color: #858585;line-height: 20px;
}
body {
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
li {

}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 920px;
	margin: 0 auto;
}

.site-header {
	padding: 10px 0;
	background: none!important;
	border-bottom: 0px solid #fad200;
	

}
.site-title {
	line-height: 0;
}
#homeBanner {
    background-color: #fff;
    display: block;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat; background-position: center ;
}
.help h2 {
	color: #122e4e;
	margin-bottom: 20px;
}
.help{
	padding: 205px 0 120px 0;
	font-weight: 600;
	background:#dceeee
}
body .tslider .cbp-qtcontent img {
	float: right;
	border-radius: 0;
	margin-left: 3em;
	margin-right:0
}
body .tslider blockquote footer, .tslider blockquote footer a,.tslider blockquote,
body .tslider blockquote p {
	color: #12324b;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	line-height: 120%;
}
.testimonials {
	margin-top: 80px;
}
body .bx-wrapper .bx-pager.bx-default-pager a {
	background: #020860;
	width: 20px;
	height: 20px; border-radius: 50%;
}
body .bx-wrapper .bx-pager.bx-default-pager a:hover, body .bx-wrapper .bx-pager.bx-default-pager a.active {
background: #00cccb;
}
body .bx-wrapper .bx-controls-direction a {
	display: none;

}
hr 
{
	height: 0;
	border: 0;
	border-top: 1px solid #ddd;
	margin:20px 0;
}
.help  .button {
	color: #122e4e;
	padding: 20px 40px;
	background: #fad200!important;
	   -webkit-transition: all 0.5s ease 0.1s;
	   transition: all 0.5s ease 0.1s;
	font-weight: 600;
}
.help  .button:hover {
	background: #122e4e!important;
	color: #fad200;
	
	font-weight: 600;
}
@media(min-width: 768px){
	.sidebar .comments-title,
.sidebar .comment-list,
.sidebar .must-log-in,
.sidebar .comment-reply-title,
.sidebar .comment-navigation,
.sidebar .comment-respond .comment-form {
	max-width: 1040px;
	padding-left: 60px;
	padding-right: 376px;
}

	.control-input  {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;margin:0 0  20px 0!important;
    color: #122e4e;
    font-weight: 600;
}
.contact-form h1 {
	 color: #122e4e;
    font-family: "gillsansmt";
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 30px 0 20px;
    text-transform: uppercase;
}
.contact-form input.wpcf7-submit {
	font-size: 22px;
	padding: 5px 25px;
	color: #122e4e;
	cursor: pointer;
	font-weight: bold;font-family: 'gillsansmt';
}

	.help h2 {
	font-size: 40px;
}

.help  .button {
	font-size: 24px;
}
.help {
	background:#dceeee url(images/help-bg.png) center 0px no-repeat ;
	
}
@media(min-width: 1337px) {
	.help {
		background-size: 100%;
		}
}
	.slick-slide {
		max-width: 254px;
	}
}
.entry-thumbnail {
    border: 0px solid #fad200;
    border-radius: 0px;
    min-height: 200px; 
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;  
      max-width: 100%;
}
@media(min-width: 768px) {
	.entry-thumbnail { min-height: 300px; }
}
.slick-slide {
	position: relative;
	 margin: 0px;
	 width: 33.3%;
}
.slick-list {
	padding: 5px 0;
}
.slick-slide img {
    display: block;
    position: absolute;
    top: 50%;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;

}

@media(min-width: 1400px){
	.home  #homeBanner {
		 -webkit-background-size: cover; 
		 -moz-background-size: cover;  
		 -o-background-size: cover;  background-size: cover; 
	}
}

#bannerText {
	padding-top: 10px
}
#homeBanner .container{
	height: 100%;
}
#bannerText.scrolling {
   /* position: fixed;
    */top: 250px;
    width: 100%;
    padding-top: 55px;
    padding-left: 44px;
    position: absolute;
}
#bannerText.scrolling h1 {
	font-size: 48px;
	font-weight: bold;
	font-family: 'gillsansmt';
	font-family: "Open Sans",sans-serif;
	color: #2d373f;
}
#bannerText.scrolling h2 {
	font-size: 36px;
	font-weight: normal;
	color: #2d373f;
}
.play {
  display: inline-block;
  height: 77px;
  left: 50%;
  top: -74px;
  position: absolute;
  width: 77px;
  margin-top: 55px;
  background: url(images/play-icon.png) no-repeat left top;
  -webkit-transition: all 0.5s ease 0.3s;
  -moz-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  margin-left: -36px;
}
.play:hover {
	opacity: 0.6;
}
h2.op {
	/* margin-left: 152px; */
}
.nav-menu {
	padding: 4px 136px 0 0;
	position: relative;
}
.nav-menu li {
	display: block;
	float: left;
	padding: 0 10px;
}

.nav-menu li a{
	display: block;
	padding: 12px 2px;
	color: #2d373f;
	font-size: 16px;
	font-family: 'OratorStd',Tahoma,arial;

}
.nav-menu li:hover a,.nav-menu li.current_page_item  a{
	border-bottom: 3px solid #fad200
}
.nav-menu li a:hover,.nav-menu li.current_page_item a,
.nav-menu li.current-menu-item a {
	
	
}
.page p {
	margin-bottom: 15px;
}
.left-footer .widget  {
	position: static!important;

}
.more-link span {display: none;}
#latest-videos {
   padding-bottom: 70px;
    padding-top: 100px;
   
}
.left-footer {
	line-height: 24px;
}
@media(min-width: 769px) {

.nav-menu li.last-child ,.nav-menu li:last-child {
	position: absolute;
	right: 0;    top: -10px;
	background-color: #fad200;
	color: white;
	font-size: 20px;
	text-align: center;
	width: 108px;
	padding: 0 22px;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.nav-menu li.last-child:hover ,.nav-menu li:last-child:hover{
	width: 130px;
	right: -5px;
}
.nav-menu li.last-child a,.nav-menu li:last-child  a {
	text-align: center;font-size: 20px;
	color: white;padding: 25px 0;   min-height: 82px;
}
.nav-menu li.last-child a:hover,.nav-menu li:last-child a:hover {
	color: #206a6b;
}
}

.item-post {
    float: left;
    padding: 20px;
    width: 33%;text-align: center;
    margin-top: 30px;
}

@media(min-width: 768px){
	.lists  {
	margin: 0 -20px;
}
}
.item-post .hover {
	text-align: center;
	display: block;
	/*  height: 190px;
	  width: 190px; */
  margin: 0 auto 15px auto;
  position: relative;
  -webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.item-post .hover:hover:after {
	opacity: 1; 
	display: none;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}

.item-post .hover:after {
	background: rgba(0, 202, 204, 0.8) ;
    border: 8px solid #fad200;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.item-post  img {
	/* border:8px solid #fad200; */
	margin-bottom: 16px;
	
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
	 

}
.item-post  img:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
}

.item-post h2 {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: normal;
}
.title {
	font-size: 24px;
	margin-bottom: 45px;font-weight: normal;
}
img {
	max-width: 100%;
}

.jcarousel-wrapper {
    position: relative;
}
.jcarousel {
    overflow: hidden;
    position: relative;
}
.jcarousel ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20000em;
}
.jcarousel li {
    float: left;
    max-width: 254px;
}
.jcarousel img {
    display: block;
    height: auto !important;
    max-width: 100%;
}

.jcarousel-wrapper {
	position: relative;
	margin-bottom: 90px;
}
.bottom-area .title {
	margin-bottom: 32px;
}
.slick-prev, .slick-next {
    background: rgba(0, 0, 0, 0) url("images/next-prev.png") repeat-x scroll left top;
    display: block;
    height: 85px;border: none;
   left: -48px;
    position: absolute;
    top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    outline: none;
    cursor: pointer;
    width: 44px;   text-indent: -9999px;
}
.slick-prev:hover, .slick-next:hover {
	opacity: 0.7;-webkit-transition: all 0.5s ease 0.3s;
	-moz-transition: all 0.5s ease 0.3s;
	transition: all 0.5s ease 0.3s;
}
}

.slick-prev {
    background-position: 0px 0px;
   left: -48px;
}
.slick-next {
    background-position: -44px 1px;
    left: auto;
     right: -48px;
}
.this-is-how-we-do-it-inner p:empty{
	margin: 0;
}
.bottom-area {
 	background: #ffda5a;	
}
@media(min-width: 768px){

	.bottom-area {
 		background: rgba(0, 0, 0, 0) url("images/last-video-bg.png") no-repeat scroll left bottom / cover ;
   		 min-height: 600px;
	
	}
}

.bottom-area .inner {
	padding-top: 45px;padding-bottom: 40px;
	
}
.site-footer {
	background-color: #2d373f;
	color: #dce8e6;
	padding: 10px 0;
}
.left-footer .widget-area > .widget {
		float: left;
		width: 23%;
		
}
.left-footer .widget-title {
		font-size: 22px;
		color: #00cccb;
}
.left-footer .widget-area > .widget + .widget {
	margin-left: 20px;
}
.left-footer{
	float: none!important;color: #858585;
}
.site-footer .left-footer li {
	display: block;
}.site-footer .left-footer li a{
	color: #858585;
	padding: 0 0px;font-size: 14px;
	text-transform: capitalize;
}
.social li {
	display: block;float: left;
	margin: 0 10px;
}
.social a {
	display: inline-block;
	height: 44px;
	font-size:0;
    width:  44px;
	background: url(images/social-icons.png) no-repeat left top;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.left-footer {
    margin-top: 36px;
}
.center {
	text-align: center;
}
#nav_menu-2 {
	padding-left: 30px;
}

.right-form  .social .facebook a{
	background-position: 0px -1px
}
.right-form  .social .facebook a:hover{
	background-position: 0px -44px;
}


.right-form .social .tumblr a{
	background-position: -63px -1px 
}
.right-form .social .tumblr a:hover{
	background-position: -63px -44px;
}
.right-form .social .youtube a{
	background-position: -126px  -1px
}
.right-form .social .youtube a:hover{
	background-position: -126px -44px;
}


.social a  span {display: none;}

.social .facebook a{
	background-position: 0px -44px;
}
.social .facebook a:hover{
	background-position: 0px -1px
}
.social .tumblr a{
	background-position: -63px -44px;
}
.social .tumblr a:hover{
	background-position: -63px -1px
}
.social .youtube a{
	background-position: -126px -44px;
}
.social .youtube a:hover{
	background-position: -126px  -1px
}

.jcarousel {
	width: 798px;margin: 0 auto;height: 148px;
	text-align: center;
	overflow: hidden;
}
.jcarousel  ul li .entry-thumbnail {
	-webkit-transition: all 0.5s ease 0.3s;
	-moz-transition: all 0.5s ease 0.3s;
	transition: all 0.5s ease 0.3s;
	border:3px solid #fad200;
	width: 254px;
	height: 146px;
	border-radius: 3px;
}
.jcarousel  ul li .entry-thumbnail:hover {
	opacity: 0.8;
}
.jcarousel  ul li{
	position: relative;
	display: block;
	float: left;
	margin: 0 6px;
}
.jcarousel  ul li a {
}
.site-main {
	padding: 25px 0 50px;
}

.home .site-main {
	padding:  0 0 0;
}

.about-body {
	position: relative;
}

.about-body p.information{
	position: absolute;
	 position: absolute;
    top: 98px;
    width: 340px;line-height: 20px;

}
.withbg.banner {
	position: relative;
	background: none!important;
}

.withbg.banner:after{display: none;content: "";
	background: url(images/bg-banner.png) repeat-x left bottom;
	position: absolute;
	height: 18px;
	width: 100%;
	bottom: 0;
	left: 0;
}
.free-wall {
	margin: 15px;
}

.play-icon:after {
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 10px;
    content: "";
    display: block;
    height: 0;
    left: 22px;
    position: absolute;
    top: 14px;
    width: 0;
}
.free-wall a {
	z-index: 4
}
.play-c:hover .mask-layer {
	display: block; opacity: 1;
}
.play-c {
	  position: relative;
}
.play-c .play-icon,.play-icon {
	cursor: pointer;
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 50px;z-index: 2;
}
.mask-layer {
	 background:#f9cf00;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
	  z-index: 1;
}
.cell:hover .project-detail {
	display: block !important;
    text-align: center;
    width: 100%;
}
.content p {
	margin-bottom: 15px;
}
.project-detail  {
  
    padding: 20px 10px 0 20px;
}
.readmore {display: none}
.category .readmore {
	display: block;
}
.category .full-content {
	display: none;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
	  z-index: 1;
}
.full-content.active {
	display: block;-webkit-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
}
.project-more {
	padding: 0 10px;
	color: #333!important
}
.project-detail * {
color: #333!important
}
.wpfai-list li .wpfai-link .fa {
	display: none;
}
.project-detail h2 {
	margin: 0 0 10px 0!important;
	display: inline-block;
	font-size: 20px;
	color: #333!important;
	position: relative;
}
.project-more h3 {font-weight: bold;}
.project-more h3 ,.project-more > div{
	margin-bottom: 5px;
}
body  .fancybox-close {
	background: url(images/close.png);
	width: 37px;
	height: 28px;  right: 0px;
    top: -28px;
}
.detail-icon {
	width: 58px;height: 55px;
	background: url(images/detail.png);
	position: absolute;
	bottom: 0
	;right: 0;
	z-index: 99;
	cursor: pointer;
}
.project-detail h2:after {
	content:"";display: block;height: 1px ;background: #333;
	width: 25%;position: absolute;
	bottom: 0;
}
.project-detail * {
	margin: 0 0 5px 0!important;
}
.cell {
	background-size: cover;background-position: center center;
    background-repeat: no-repeat;
    /*border:1px solid  #fad200;*/
}
.free-walls > div {
	position: relative;
}
.free-wall a {
	display: block;
	position: relative;
	width: 100%;height: 100%;
}

.package {
    margin: 0 auto;
}
.package .column img {
	vertical-align: middle;
	margin: 0 10px 0 0;
}
.package .column p {
	line-height: 30px;
}
.package .column {
    background: #fff none repeat scroll 0 0;
    border:1px solid #a6a6a6;
    float: left;
    margin: 30px 10px;
    padding: 0px 15px 50px;
    min-height: 850px;
    -webkit-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
    width: 210px;
    color: #858585;
}
.banner .package .column {
	min-height: 300px;
}

.package .column h2 {
	margin: 0 -15px 35px;
	   font-size: 30px;
	   height: 99px;
	   line-height: 99px;
	   color: #fad200;
	   	font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-align: center;
}
.package.content > h2 {
    margin-bottom: 45px;
}
.package .column.active h2 {
	border-width: 10px;line-height: 120px;
}


.package .column:hover  h2{
      background: #858585;
}

input,textarea {
	border: 1px solid #fad200;
}

.post-navigation {display: none;}
.button ,.wpcf7-submit,.submit{
	 background-color: #dceeee!important;
    border: medium none;
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;min-width: 100px;
}

 .category-layout .more-link  {
 	display: block;
 	margin: 20px auto;
 	font-family: 'gillsansmt';
 	font-weight: bold;
 }
 .post + .post {
 	padding-top: 30px;
 	border-top: 1px solid #858585;
 }
.toggle-mobile {
		display: none;
	}
.contact-form input.wpcf7-form-control,.contact-form textarea.wpcf7-form-control {
	height: 45px;
	padding: 0 10px;
	width: 100%;
	border: 1px solid #fad200;
	margin-top: 5px;
	background: #fef6cc;
}	
.contact-form input.wpcf7-submit {
	height: auto;width: auto;
	padding: 12px 56px;text-transform: uppercase;
}
.contact-form textarea.wpcf7-form-control  {
	height: 160px;padding: 10px;
}

.radio-group {display: none}
h2 ,h3{
	margin-bottom: 12px;
}
.category-layout ,.left-bar{
	margin: 0 auto;
	margin-right: 220px ;
}
.entry-meta {
	overflow: hidden;
}

.left-footer .wpfai-list {
    position: absolute;
    right: 0;
    top: 48px;
    width: 190px;
}

.left-footer {
    position: relative;
}
.wpfai-list li .wpfai-link  .fa {
	font-size: 20px;
}
.wpfai-list li .wpfai-link {
	color: #3a4656;
}
.comments-link {
    margin-top: 15px;
}
div.wpcf7 img.ajax-loader {
	display: none;
}
.wpfai-list li {
	float: left;
	margin: 0 2px!important;

	text-align: center;
	  -webkit-transition: all 0.5s ease 0.1s;
	  -moz-transition: all 0.5s ease 0.1s;
	  transition: all 0.5s ease 0.1s;
}
ul.wpfai-list:after {
	display: block;content: "";
	clear: both;
	overflow: hidden;
}
.wpfai-list-item a {
		width: 60px;
	height: 36px;
	line-height: 36px;
	background: url(images/social.png) no-repeat;
	    display: block;
}
a.wpfai-link {
	opacity: 1!important
}
.wpfai-list-item.google-plus a{
		background-position: -207px 0;
		width: 45px;
}
.cu  {
	background:  url("images/cu.png") no-repeat scroll 35px 0;
        height: 150px;
    left: 50%;
    margin-left: -105px;
    position: absolute;
    top: -106px;
    width: 210px;
}
.package .column:hover .cu{
	 background-position: 32px bottom;
    top: -151px;
}
.package .column h2 {
	font-weight: bold;
}
.cu.st {
	background-position: -204px 0;
}
.package .column:hover .cu.st{
	 background-position: -204px bottom;
    top: -151px;
}
.cu.pr {
	background-position: -440px  0;
}
.package .column:hover .cu.pr{
	 background-position: -440px  bottom;
    top: -151px;
}
.cu.ct {
	background-position: -677px  0;
}
.package .column:hover .cu.ct{
	 background-position: -677px bottom;
    top: -151px;
}
.package .column {
	position: relative;
}
.wpfai-list-item.pinterest a{
	 background-position:  -66px 0;
}
.wpfai-list-item.twitter a{
  background-position: -126px 0;
    width: 74px;
}
.entry-content p {
	line-height: 22px;
}
body .bottomcontainerBox{height: auto!important;}
.no-break {
    clear: both;
    margin-top: 20px;
}
.bottomcontainerBox iframe {
	visibility: visible!important;
}
.desc .bottomcontainerBox {
	display: none;
}
body .stButton .stButton_gradient {
	height: 22px;

}
body .stButton .stFb, body .stButton .stTwbutton, body .stButton .stMainServices {
	height: 22px;
}
.entry-title  {
	font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    padding:10px 12px 10px 120px;
    text-transform: uppercase; margin-bottom:30px;
}
.clearfix .entry-title  {
	text-align: left;
}
.comments-link {display: none;}
.entry-title  a {
	  border-bottom: 1px solid #858585;
	  min-height: 90px;
    color: #858585;
    display: block;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 10px;
    text-align: left;
    text-transform: capitalize
}
.category-layout  .entry-thumbnail img {
	width: 100%;
}

 .post  .entry-content{
	padding: 12px 0;
}
footer.entry-meta {
   
}
.edit-link ,.categories-links,.author,.entry-meta > span a {
	display: none;
}
.entry-meta > span.date a {
	display: block;
}
.entry-date {
	font-size: 16px;
}
.entry-header .entry-meta {
    margin-right: 10px;
    margin-top: 8px;
}
 .post .date {
    background: #fad200;
    display: block;
    
    height: 100px;
    position: absolute;
    text-align: center;
    width: 90px;
}
 .post .entry-date {
   font-size: 32px;color: white;
    line-height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
} 
 .post .entry-date .m {
font-size: 24px;
 }
.post {
	margin-bottom: 35px;
	margin-top: 35px;
}
.single .post {
	border: none;
	border-bottom: 3px solid #fad200;
}
.single .entry-meta > span a {
	margin: 0 0 15px 0;
}
.comments-link a {
	color: #15324d;
}

.page-id-2 .entry-header{
	display: none;
}
#submit {
	margin-top: 20px
}

.fixed {  -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
	/* -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out; */
    
    top: 0px;
    left: 0;
    background: rgba(255,255,255,0.85)!important;
    width: 100%;z-index: 99;
}
.free-walls .play-c{
	height: 300px;
	margin: 0;
}
.close {
    color: #858585;
    font-size: 30px;
    font-weight: 500;
    right: 22px;
    line-height: 10px;
    position: absolute;
    top: 20px;
    cursor: pointer;
}
.contact-form {
	  background: #fad200 none repeat scroll 0 0;
    float: none;
    padding: 40px 60px;
    position: fixed;
    right:0px;
    top: 0px;
    z-index: 999;
     height: 100%;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    display: block;
    font-size: 14px;
    font-weight: normal;
}
@media(min-width: 768px){
	.free-walls .play-c {
	float: left;
	width: 33.333%;
	
}
.contact-form {	 
    width: 800px;
}

.readmore {
	cursor: pointer;
	color: #858585;
	text-decoration: underline;
}
.col-50{
	float: left;
	width: 50%;
	padding: 5px 10px;
}
.col-30 {
	float: left;
	width: 33.33%;
	padding: 5px 30px;
}
.mediaContainer .row {
	margin: 0 -30px;
}
.row {
	margin: 0 -10px;
}
.fixed {position: fixed;}
.right-form {
	float: left;
    margin-left: 84px;
}
}
.social  li.facebook {
	margin-left: 0
}
/*responsive*/


@media (max-width: 1024px) {
	.container {
	    margin: 0 auto;
	    width: 920px;
	}
	.home #homeBanner {
		height: 250px
	}
 .home #bannerText.scrolling{padding-top:30px;}
 #bannerText.scrolling {
 	top:100px;
 }
		
#bannerText.scrolling h2 {
    font-size: 30px;
}

#bannerText.scrolling h1 {
    font-size: 40px;
    }
    .play {
    	width:50px;height:50px;background-size: 100%;top:0;
    }
}

@media (max-width: 920px) {
	.container {
	    margin: 0 auto;
	    width: 768px;
	}

	
	.jcarousel {
	    width: 100%;
	}
	.jcarousel-control-prev, .jcarousel-control-next{
		z-index: 9
	}
	.jcarousel ul li img {
		border: none;
	}

	.package.content {
	    margin: 0 auto;
	}
}
.center {
	text-align: center;
}
.icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;background: #fad200;
     margin: 5px 0;
}

.slider-posts > div {
    float: left;
    position: relative;
    width: 33.3333%;
}
#homeBanner  {
	margin-top: 80px;
}
.home #homeBanner {
	margin-top: 0;
}

@media (max-width: 768px) {
	#bannerText {
		display: none;
	}
	.contact-form textarea.wpcf7-form-control {
		height: 60px!important;
	}
	.contact-form input.wpcf7-form-control, .contact-form textarea.wpcf7-form-control {
		height: 30px;
	}
	.contact-form input.wpcf7-submit {

		height: auto;
	}
	.contact-form {height: auto;padding: 20px;}
#homeBanner  {
	margin-top: 0px;
	  height: auto !important;
}
.entry-title {
	padding-left: 0;
}
.post .date {
	display: none;
}
.entry-title a {
	font-size: 24px;
	min-height: 50px;
}
.taxonomy-description h1 ,.title-heading{
	font-size: 30px;
}
.taxonomy-description p ,.project-detail h2{
	font-size: 20px;
}
	#bannerText.scrolling {
		padding: 10px;
	}
	.home #bannerText.scrolling {
		margin: 0!important;
		opacity:1!important;
	}
	/* .featured-post-slider {
	width:70%;
	margin: 0 auto
	} */
		.package.content {
        width: 100%;
}
.video-mobile {display: block!important;}
.video-mobile iframe{width: 100%!important;}
.package .column {
	width: 45%;
	margin-top: 170px !important;
}
.home #homeBanner {
	background-color: #b9dede;
	margin-top: 0;
}

.home #homeBanner > img {display: none;}
.home #homeBanner {
	height: auto;
}
.home #homeBanner .play  {display: none}
.bottom-area {
	background:#ffda5a ;
}
}
.slider-posts.featured-post-slider {
    margin-bottom: 20px;
}
	@media (max-width: 510px) {
		.slider-posts > div {
    float: none;
    margin: 10px 0;
    position: relative;
    width: 100%;
}
		.package.content {
	   		 width: auto;
		}


		.package .column {
		float: none;
				margin: 20px auto;
			}
	}
.sidebar-container {
	float: right;
	width: 180px;
}
.sidebar-container .widget_text .photos img {
	display: inline-block;
	margin: 2px;
	width: 80px;
	height: 80px;
}
.sidebar-container .widget-title {
		font-weight: bold;
		margin-bottom: 18px;
		text-transform: uppercase;
		border-bottom: 1px solid #8f8f8f;
		padding-bottom: 20px;color: #8f8f8f;
}
.sidebar-container .widget  {
	padding-bottom: 20px;
}
.sidebar-container a {color: #fad200}
.postsbycategory  img {
	display: none;
}
.sidebar-container .widget   li {
	margin: 10px 0;
}
@media (max-width: 1024px) { 
.contact-form {
	right: 0;
}
}
@media (max-width: 768px) {
	.contact-form {
		 display: block;
    left: 50%;
    position: absolute;
    top: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90%;
	}
	.close {
		left: auto;right: 18px;
	}
	.category-layout ,.left-bar{
	margin: 0 auto;
	margin-right: 0px ;
}
.sidebar-container {
	float: none;
	width: auto;
}
	.title {text-align: center;}
	#homeBanner {
		height: 350px;
	}
	
	.about-body p.information {
		position: static;text-align: center;
    width: auto;
	}
	

	.toggle-mobile {
		border: 3px solid #fad200;
	    display: block;
	    float: right;
	        text-align: center;
	    font-size: 20px;
	    margin:20px 0;
	    border-radius: 5px;
	    padding: 5px 10px;cursor: pointer;
	}
	.nav-menu {
		padding-right: 0;
		clear: both;
		float: none;
	}
	.nav-menu .menu {
		display: none;
	}
	.nav-menu .active  {
		display: block;margin-left:0;
		display: block;margin-right: 0;
		clear: both;
	}

.logo.pull-left {
    position: absolute;
    text-align: center;
    top: 20px;
}
.left-footer .widget-area > .widget  .menu li, .left-footer .widget-area > .widget  .menu li a {
	text-align: left;
}
.left-footer .widget-area > .widget {
	float: none;width: auto;
	margin:10px 0!important;
}
.left-footer, .right-footer {
	text-align: left!important;
}
.right-footer.pull-right {
	float: none;
}
#nav_menu-2 {
	padding-left: 0;
}
.project-more {
	display: none;
}
	.menu  li , .menu li a {
		float: none;text-align: center;
		display: block;
	}
	.site-header .menu li a {
		 border: 1px solid #fad200;
		 margin: -1px 0;
	}
	.container {
	    margin: 0 auto;
	    width: 98%;
	}
	#bannerText.scrolling  h1 {
	    font-size: 24px;
	     margin-left:0;
	}

	#bannerText.scrolling  h2 {
	    font-size: 20px;
	    margin-left:0; 
	}
	.play {
		    background: rgba(0, 0, 0, 0) url("images/play-icon.png") no-repeat scroll left top / 100% auto;
		   
		    height: 50px;
		    margin-top: 55px;
		    width: 50px;
	}
	.item-post {
	    float: none;
	    padding: 20px;
	    text-align: center;
	    width: 100%;
	    margin:10px 0;
	}
	.logo.pull-left {
		text-align: center;
	}
	#bannerText {padding-top: 20px }
	.radio-group {
		display: block;
	}
	.radio-group br {
		margin-bottom: 10px;display: block;
	}
	.banner  .package.content {
		display: none;
	}
}
@media (max-width: 480px) {
	.package .column {
		width: 100%
	}
	.package.content {
	    margin: 0 auto;
	    width: auto;
	}
	
	#bannerText {padding-top: 0 }
	.left-footer,.right-footer {
	    float: none;
	    margin: 10px 0;
	    text-align: center;
	}
	.right-footer  .social {
	    margin: 0 auto;
	    overflow: hidden;
	    width: 194px;
	}
}