

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.format-audio .entry-content:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
	clear: both;
}

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
	content: "";
	display: table;
}

/**
 * 5.11 404
 * ----------------------------------------------------------------------------
 */

.error404 .page-header {
	background-color: #fff;
}

.error404 .page-title {
	line-height: 0.6;
	margin: 0;
	padding: 300px;
	position: relative;
	text-align: center;
	width: auto;
}

.error404 .page-title:before {
	color: #e8e5ce;
	content: "\f423";
	font-size: 964px;
	line-height: 0.6;
	overflow: hidden;
	position: absolute;
	left: 7px;
	top: 28px;
}

.error404 .page-wrapper {
	background-color: #e8e5ce;
}

.error404 .page-header,
.error404 .page-content {
	margin: 0 auto;
	max-width: 1040px;
	padding-bottom: 40px;
	width: 100%;
}


/**
 * 5.12 Comments
 * ----------------------------------------------------------------------------
 */

.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.sidebar .comments-title,
.sidebar .comment-list,
.sidebar .must-log-in,
.sidebar .comment-reply-title,
.sidebar .comment-navigation,
.sidebar .comment-respond .comment-form {
	max-width: 1040px;
	padding-left: 60px;
	padding-right: 376px;
}



.comment-list,
.comment-list .children {
	list-style-type: none;
	padding: 0;
}

.comment-list .children {
	margin-left: 20px;
}

.comment-list > li:after,
.comment-list .children > li:before {
	background: url(images/dotted-line.png) repeat left top;
	background-size: 4px 4px;
	content: "";
	display: block;
	height: 1px;
	width: 100%;
}

.comment-list > li:last-child:after {
	display: none;
}

.comment-body {
	padding: 24px 0;
	position: relative;
}

.comment-author {
	float: left;
	max-width: 74px;
}

.comment-author .avatar {
	display: block;
	margin-bottom: 10px;
}

.comment-author .fn {
	word-wrap: break-word;
}

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
	color: #bc360a;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.says {
	display: none;
}

.no-avatars .comment-author {
	margin: 0 0 5px;
	max-width: 100%;
	position: relative;
}

.no-avatars .comment-metadata,
.no-avatars .comment-content,
.no-avatars .comment-list .reply {
	width: 100%;
}

.bypostauthor > .comment-body .fn:before {
	content: "\f408";
	vertical-align: text-top;
}

.comment-list .edit-link {
	margin-left: 20px;
}

.comment-metadata,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
	float: right;
	width: 79%;
	width: -webkit-calc(100% - 124px);
	width:         calc(100% - 124px);
	word-wrap: break-word;
}

.comment-meta,
.comment-meta a {
	color: #a2a2a2;
	font-size: 13px;
}

.comment-meta a:hover {
	color: #ea9629;
}

.comment-metadata {
	margin-bottom: 20px;
}

.ping-meta {
	color: #a2a2a2;
	font-size: 13px;
	line-height: 2;
}

.comment-awaiting-moderation {
	color: #a2a2a2;
}

.comment-awaiting-moderation:before {
	content: "\f414";
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.comment-reply-link:before,
.comment-reply-login:before {
	content: "\f412";
	margin-right: 3px;
}

/* Comment form */
.comment-respond {
	background-color: #f7f5e7;
	padding: 30px ;
}

.comment .comment-respond {
	margin-bottom: 20px;
	padding: 20px;
}

.comment-reply-title {
	font: 300 italic 28px "Source Sans Pro", Helvetica, sans-serif;
}

.comment-reply-title small a {
	color: #131310;
	display: inline-block;
	float: right;
	height: 16px;
	overflow: hidden;
	width: 16px;
}

.comment-reply-title small a:hover {
	color: #ed331c;
	text-decoration: none;
}

.comment-reply-title small a:before {
	content: "\f406";
	vertical-align: top;
}

.sidebar .comment-list .comment-reply-title,
.sidebar .comment-list .comment-respond .comment-form {
	padding: 0;
}

.comment-form .comment-notes {
	margin-bottom: 15px;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
	margin-bottom: 8px;
}

.comment-form [for="author"],
.comment-form [for="email"],
.comment-form [for="url"],
.comment-form [for="comment"] {
	float: left;
	padding: 5px 0;
	width: 120px;
}

.comment-form .required {
	color: #ed331c;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	max-width: 270px;
	width: 60%;  height: 30px;
	border: 1px solid #ffbe00;
	padding-left: 10px;
	padding-right: 10px;
}

.comment-form textarea {
	width: 100%;
	padding: 10px;
}

.form-allowed-tags,
.form-allowed-tags code {
	color: #686758;
	font-size: 12px;
}

.form-allowed-tags code {
	font-size: 10px;
	margin-left: 3px;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}

.comment-navigation {
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0 auto;
	max-width: 604px;
	padding: 20px 0 30px;
	width: 100%;
}

.no-comments {
	background-color: #f7f5e7;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 40px 0;
	text-align: center;
}

.sidebar .no-comments {
	padding-left: 60px;
	padding-right: 376px;
}

@font-face {
  font-family: 'OratorStd';
  src: url('fonts/OratorStd.eot');
  src: url('fonts/OratorStd.eot?#iefix') format('embedded-opentype'),
       url('fonts/OratorStd.woff2') format('woff2'),
       url('fonts/OratorStd.woff') format('woff'),
       url('fonts/OratorStd.ttf') format('truetype'),
       url('fonts/OratorStd.svg#OratorStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
	margin:0;
	padding: 0;
}

h2 ,h3,h1,h4{
	font-weight: 500;line-height: 114%;
}
h2 {
	font-size: 24px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
body {
	font-family: Tahoma,arial;
	font-size: 14px;color: #2d373f;line-height: 20px;
}
a {
	text-decoration: none;
}
li {

}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 920px;
	margin: 0 auto;
}

.site-header {
	padding: 10px 0;
	background: none!important;
	border-bottom: 4px solid #ffbe00;
}
.site-title {
	line-height: 0;
}
#homeBanner {
    background-color: #dddddd;
    display: block;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 1px;
    position: relative;
    width: 100%;
}
#bannerText {
   /* position: fixed;
    */top: 150px;
    width: 100%;
    padding-top: 55px;
    padding-left: 44px;
}
#bannerText h1 {
	font-size: 48px;
	font-weight: normal;
}
#bannerText h2 {
	font-size: 36px;
	font-weight: normal;
}
.play {
  display: inline-block;
  height: 77px;
  width: 77px;
  margin-top: 55px;
  background: url(images/play-icon.png) no-repeat left top;
  -webkit-transition: all 0.5s ease 0.3s;
  -moz-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  margin-left: -36px;
}
.play:hover {
	opacity: 0.6;
}
h2.op {
	margin-left: 152px;
}
.nav-menu {
	padding: 4px 136px 0 0;
	position: relative;
}
.nav-menu li {
	display: block;
	float: left;
}

.nav-menu li a{
	display: block;
	padding: 12px;
	color: #2d373f;
	font-size: 16px;
	font-family: 'OratorStd',Tahoma,arial;

}
.nav-menu li a:hover,.nav-menu li.current_page_item a,
.nav-menu li.current-menu-item a {
	color: #00ccce;
}
.page p {
	margin-bottom: 15px;
}
.left-footer .widget  {
	position: static!important;
}
.more-link span {display: none;}
#latest-videos {
    padding-top: 25px;
}
@media(min-width: 769px) {

.nav-menu li.last-child ,.nav-menu li:last-child {
	position: absolute;
	right: 0;    top: -10px;
	background-color: #ffbe00;
	color: white;
	font-size: 20px;
	text-align: center;
	width: 108px;
	padding: 0 22px;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.nav-menu li.last-child:hover ,.nav-menu li:last-child:hover{
	width: 130px;
	right: -5px;
}
.nav-menu li.last-child a,.nav-menu li:last-child  a {
	text-align: center;font-size: 20px;
	color: white;padding: 16px 0;   min-height: 82px;
}
.nav-menu li.last-child a:hover,.nav-menu li:last-child a:hover {
	color: #206a6b;
}
}

.item-post {
    float: left;
    padding: 20px;
    width: 33%;text-align: center;
}
.lists  {
	margin: 0 -20px;
}
.item-post .hover {
	text-align: center;
	display: block;
	 height: 190px;
  width: 190px;
  margin: 0 auto 15px auto;
  position: relative;
  -webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.item-post .hover:hover:after {
	opacity: 1; 
	display: block;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}

.item-post .hover:after {
	background: rgba(0, 202, 204, 0.8) ;
    border: 8px solid #ffbe00;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.item-post  img {
	border-radius: 100%;
	border:8px solid #ffbe00;
	background-color: white;
	margin-bottom: 16px;
	width: 100%;height: 100%;
	 height: 190px;
  width: 190px;
	 
}
.item-post h2 {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: normal;
}
.title {
	text-align: center;font-size: 24px;
	margin-bottom: 45px;font-weight: normal;
}
img {
	max-width: 100%;
}

.jcarousel-wrapper {
    position: relative;
}
.jcarousel {
    overflow: hidden;
    position: relative;
}
.jcarousel ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20000em;
}
.jcarousel li {
    float: left;
    max-width: 254px;
}
.jcarousel img {
    display: block;
    height: auto !important;
    max-width: 100%;
}

.jcarousel-wrapper {
	position: relative;
	margin-bottom: 56px;
}

.jcarousel-control-prev, .jcarousel-control-next {
    background: rgba(0, 0, 0, 0) url("images/next-prev.png") repeat-x scroll left top;
    display: block;
    height: 85px;
    left: 0;
    position: absolute;
    top: 30px;
    outline: none;
    width: 44px;   text-indent: -9999px;
}
.jcarousel-control-prev:hover, .jcarousel-control-next:hover {
	opacity: 0.7;-webkit-transition: all 0.5s ease 0.3s;
	-moz-transition: all 0.5s ease 0.3s;
	transition: all 0.5s ease 0.3s;
}
}

.jcarousel-control-prev {
    background-position: 0px 0px;
    left: 15px;
}
.jcarousel-control-next {
    background-position: -44px 1px;
    left: auto;
    right: 15px;
}
.bottom-area {
	background:   url(images/bg-footer.png) repeat-x left top;
	padding-top: 18px;
	
}
.bottom-area .inner {
	background:  #b9dede;padding-top: 45px;padding-bottom: 40px;
}
.site-footer {
	background-color: #2d373f;
	color: #dce8e6;
	padding: 10px 0;
}

.site-footer .left-footer li {
	display: inline-block;
}.site-footer .left-footer li a{
	color: #dce8e6;
	padding: 0 10px;font-size: 14px;
	text-transform: uppercase;
}
.social li {
	display: block;float: left;
	margin: 0 10px;
}
.social a {
	display: inline-block;
	height: 44px;
    width:  44px;
	background: url(images/social-icons.png) no-repeat left top;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
}
.left-footer {
    margin-top: 16px;
}
.center {
	text-align: center;
}

.right-form  .social .facebook a{
	background-position: 0px -1px
}
.right-form  .social .facebook a:hover{
	background-position: 0px -44px;
}


.right-form .social .twiiter a{
	background-position: -63px -1px 
}
.right-form .social .twiiter a:hover{
	background-position: -63px -44px;
}
.right-form .social .youtube a{
	background-position: -126px  -1px
}
.right-form .social .youtube a:hover{
	background-position: -126px -44px;
}


.social a  span {display: none;}

.social .facebook a{
	background-position: 0px -44px;
}
.social .facebook a:hover{
	background-position: 0px -1px
}
.social .twiiter a{
	background-position: -63px -44px;
}
.social .twiiter a:hover{
	background-position: -63px -1px
}
.social .youtube a{
	background-position: -126px -44px;
}
.social .youtube a:hover{
	background-position: -126px  -1px
}

.jcarousel {
	width: 798px;margin: 0 auto;height: 148px;
	text-align: center;
	overflow: hidden;
}
.jcarousel  ul li .entry-thumbnail {
	-webkit-transition: all 0.5s ease 0.3s;
	-moz-transition: all 0.5s ease 0.3s;
	transition: all 0.5s ease 0.3s;
	border:3px solid #ffbe00;
	width: 254px;
	height: 146px;
	border-radius: 3px;
}
.jcarousel  ul li .entry-thumbnail:hover {
	opacity: 0.8;
}
.jcarousel  ul li{
	position: relative;
	display: block;
	float: left;
	margin: 0 6px;
}
.jcarousel  ul li a {
}
.site-main {
	padding: 25px 0 50px;
}

.home .site-main {
	padding:  0 0 0;
}

.about-body {
	position: relative;
}

.about-body p.information{
	position: absolute;
	 position: absolute;
    top: 98px;
    width: 340px;line-height: 20px;

}
.withbg.banner {
	position: relative;
}

.withbg.banner:after{display: block;content: "";
	background: url(images/bg-banner.png) repeat-x left bottom;
	position: absolute;
	height: 18px;
	width: 100%;
	bottom: 0;
	left: 0;
}
.free-wall {
	margin: 15px;
}

.play-icon:after {
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 10px;
    content: "";
    display: block;
    height: 0;
    left: 22px;
    position: absolute;
    top: 14px;
    width: 0;
}
.free-wall a {
	z-index: 4
}
.play-c:hover .mask-layer {
	display: block; opacity: 1;
}
.play-c .play-icon,.play-icon {
	cursor: pointer;
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 50px;z-index: 2;
}
.mask-layer {
	 background:rgba(0, 202, 204, 0.8) none repeat scroll 0 0;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
	  z-index: 1;
}
.cell:hover .project-detail {
	display: block !important;
    text-align: center;
    width: 100%;
}
.content p {
	margin-bottom: 15px;
}
.project-detail  {
    bottom: 0;
    display: none;z-index: 3;
    position: absolute;
    text-align: center;
}
.project-detail p {
	display: none;
}
.cell {
	background-size: cover;background-position: center center;
    background-repeat: no-repeat;
    border:1px solid  #ffbe00;
}
.free-wall a {
	display: block;
	position: relative;
	width: 100%;height: 100%;
}
.package  {
	
}
.package .column {
	float: left;
	width:220px;
	margin: 30px 5px;
	background: #3ad5db;text-align: center;
	padding: 20px 20px 50px;
	border-radius: 110px 110px 0 0;
	-webkit-transition: all 0.5s ease 0.1s;
	-moz-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
	
}
.package .column p{
	color: white;    line-height: 24px;
}
.package .column h2 {
	border-radius: 50%;
	background: white;
	border:2px solid #ffbe00;
	height: 178px;width: 178px;text-align: center;
	line-height: 178px;
	margin:0 0 35px ;
	cursor: pointer;
}
.package.content > h2 {
    margin-bottom: 20px;
}
.package .column.active h2 {
	border-width: 10px;line-height: 160px;
}


.package .column.active,.package .column:hover {
        margin-top: -10px;
    padding-bottom: 90px;
}
.package .column:nth-child(2){
	background: #55b538
}.package .column:nth-child(3){
	background: #fe652b
}.package .column:nth-child(4){
	background: #1ba7ff
}
input,textarea {
	border: 1px solid #ffbe00;
}
.post-navigation {display: none;}
.button ,.wpcf7-submit,.more-link,.submit{
	background-color: #ffbe00;
	color: white;font-size: 24px;
	padding: 12px 60px;border: none;
}

 .more-link  {
 	display: block;
	width: 240px;
 	margin: 20px auto;
 }
.toggle-mobile {
		display: none;
	}
.contact-form input.wpcf7-form-control,.contact-form textarea.wpcf7-form-control {
	height: 26px;
	padding: 0 10px;
	width: 100%;
	border: 1px solid #ffbe00;
	margin-top: 5px;
}	
.contact-form input.wpcf7-submit {
	height: auto;width: auto;
	padding: 12px 56px;
}
.contact-form textarea.wpcf7-form-control  {
	height: 124px;
}
.wpcf7-form p {
	margin-bottom: 28px;
}
.radio-group {display: none}
h2 ,h3{
	margin-bottom: 12px;
}
.category-layout {
	margin: 0 auto;
	width: 90%;
}
.entry-meta {
	overflow: hidden;
}
.wpfai-list {
	float: right;
}
.wpfai-list li .wpfai-link  .fa {
	font-size: 20px;
}
.wpfai-list li .wpfai-link {
	color: #3a4656;
}
.comments-link {
    margin-top: 15px;
}
.wpfai-list li {
	float: left;
	margin: 0 6px;
	width: 32px;height: 32px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	background: #dce8e6;
	  -webkit-transition: all 0.5s ease 0.1s;
	  -moz-transition: all 0.5s ease 0.1s;
	  transition: all 0.5s ease 0.1s;
}
.wpfai-list li:hover {
	background: #ffbe00;
}
.entry-content p {
	line-height: 22px;
}
.entry-title  {
	font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    padding: 16px 12px;
    text-align: center;
    text-transform: uppercase;
}
.clearfix .entry-title  {
	text-align: left;
}
.entry-title  a {
	color: #15324d;
}
.category-layout  .entry-thumbnail img {
	width: 100%;
}

 .post  .entry-content{
	padding: 12px;
}
footer.entry-meta {
    padding: 10px 10px 0;
}
.edit-link ,.categories-links,.author,.entry-meta > span a {
	margin: 10px 5px;font-size: 16px;color: #15324d;display: none;
}
.entry-meta > span.date a {
	display: block;
}
.entry-date {
	font-size: 16px;color: #15324d;
}
.entry-header .entry-meta {
    margin-right: 10px;
    margin-top: 8px;
}
.post {
	margin-bottom: 35px;
	margin-top: 35px;
	border: 1px solid #ffbe00;
}
.single .post {
	border: none;
	border-bottom: 3px solid #ffbe00;
}.single .post .entry-content ,.single .post .entry-title{
	padding-left: 0;
	padding-right: 0;
}
.single .post .entry-title {
	padding: 0
}
.single .entry-meta > span a {
	margin: 0 0 15px 0;
}
.comments-link a {
	color: #15324d;
}

.page-id-2 .entry-header{
	display: none;
}
#submit {
	margin-top: 20px
}
@media(min-width: 768px){
	.contact-form {
	float: left;
	width: 436px;
}
.right-form {
	float: left;
    margin-left: 84px;
}
}
.social  li.facebook {
	margin-left: 0
}
/*responsive*/
@media (max-width: 1024px) {
	.container {
	    margin: 0 auto;
	    width: 920px;
	}
}

@media (max-width: 920px) {
	.container {
	    margin: 0 auto;
	    width: 768px;
	}
	.jcarousel {
	    width: 100%;
	}
	.jcarousel-control-prev, .jcarousel-control-next{
		display: none;
	}
	.jcarousel ul li img {
		border: none;
	}

	.package.content {
	    margin: 0 auto;
	    width: 466px;
	}
}
	@media (max-width: 510px) {
		.package.content {
	   		 width: auto;
		}
		.package .column {
		float: none;
				margin: 20px auto;
			}
	}

@media (max-width: 768px) {
	#homeBanner {
		height: 350px;
	}
	.about-body p.information {
		position: static;text-align: center;
    width: auto;
	}
	.jcarousel {
	    width: 100%;
	}

	.toggle-mobile {
		border: 3px solid #ffbe00;
	    display: block;
	        text-align: center;
	    font-size: 20px;
	    margin:20px 0;
	    padding: 5px 15px;cursor: pointer;
	}
	.nav-menu {
		padding-right: 0;
		clear: both;
		float: none;
	}
	.nav-menu .menu {
		display: none;
	}
	.nav-menu .active  {
		display: block;
	}
	.menu  li , .menu li a {
		float: none;text-align: center;
		display: block;
	}
	.menu li a {
		 border: 1px solid #ffbe00;
		 margin: -1px 0;
	}
	.container {
	    margin: 0 auto;
	    width: 80%;
	}
	#bannerText h1 {
	    font-size: 24Wpx;
	     margin-left:0;
	}

	#bannerText h2 {
	    font-size: 20px;
	    margin-left:0; 
	}
	.play {
		    background: rgba(0, 0, 0, 0) url("images/play-icon.png") no-repeat scroll left top / 100% auto;
		   
		    height: 50px;
		    margin-top: 55px;
		    width: 50px;
	}
	.item-post {
	    float: none;
	    padding: 20px;
	    text-align: center;
	    width: 100%;
	    margin:10px 0;
	}
	.logo.pull-left {
		float: none; text-align: center;
	}
	#bannerText {padding-top: 20px }
	.radio-group {
		display: block;
	}
	.radio-group br {
		margin-bottom: 10px;display: block;
	}
	.package.content {
		display: none;
	}
}
@media (max-width: 480px) {
	.package.content {
	    margin: 0 auto;
	    width: auto;
	}
	
	#bannerText {padding-top: 0 }
	.left-footer,.right-footer {
	    float: none;
	    margin: 10px 0;
	    text-align: center;
	}
	.right-footer  .social {
	    margin: 0 auto;
	    overflow: hidden;
	    width: 194px;
	}
}