@font-face {
  font-family: 'OratorStd';
  src: url('fonts/OratorStd.eot');
  src: url('fonts/OratorStd.eot?#iefix') format('embedded-opentype'),
       url('fonts/OratorStd.woff2') format('woff2'),
       url('fonts/OratorStd.woff') format('woff'),
       url('fonts/OratorStd.ttf') format('truetype'),
       url('fonts/OratorStd.svg#OratorStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
	margin:0;
	padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
body {
	font-family: Tahoma,arial;
	font-size: 14px;color: #2d373f;
}
a {
	text-decoration: none;
}
li {

}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 920px;
	margin: 0 auto;
}

.site-header {
	padding: 10px 0;
	border-bottom: 4px solid #ffbe00;
}
.site-title {
	line-height: 0;
}
#homeBanner {
    background-color: #dddddd;
    display: block;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 1px;
    position: relative;
    width: 100%;
}
#bannerText {
   /* position: fixed;
    */top: 150px;
    width: 100%;
    padding-top: 55px;
    padding-left: 44px;
}
#bannerText h1 {
	font-size: 48px;
	font-weight: normal;
}
#bannerText h2 {
	font-size: 36px;
	font-weight: normal;
}
.play {
  display: inline-block;
  height: 77px;
  width: 77px;
  margin-top: 55px;
  background: url(images/play-icon.png) no-repeat left top;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: -36px;
}
.play:hover {
	opacity: 0.9
}
h2.op {
	margin-left: 152px;
}
.nav-menu {
	padding: 4px 136px 0 0;
	position: relative;
}
.nav-menu li {
	display: block;
	float: left;
}

.nav-menu li a{
	display: block;
	padding: 12px;
	color: #2d373f;
	font-size: 16px;
	font-family: 'OratorStd',Tahoma,arial;

}
.nav-menu li a:hover,.nav-menu li.current_page_item a {
	color: #00ccce;
}
.nav-menu li.last-child {
	position: absolute;
	right: 0;    top: -10px;
	background-color: #ffbe00;
	color: white;
	font-size: 20px;
	text-align: center;
	width: 108px;
	padding: 0 22px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.nav-menu li.last-child:hover {
	width: 130px;
	right: -5px;
}
.nav-menu li.last-child a {
	text-align: center;font-size: 20px;
	color: white;padding: 16px 0;
}
.nav-menu li.last-child a:hover {
	color: #206a6b;
}

.item-post {
    float: left;
    padding: 20px;
    width: 33%;text-align: center;
}
.lists  {
	margin: 0 -20px;
}
.item-post a {
	text-align: center;
	display: block;
}
.item-post a img {
	border-radius: 100%;
	border:8px solid #ffbe00;
	background-color: white;
	margin-bottom: 16px;
	  height: 190px;
  width: 190px;
}
.item-post h2 {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: normal;
}
.title {
	text-align: center;font-size: 24px;
	margin-bottom: 45px;font-weight: normal;
}
img {
	max-width: 100%;
}

.jcarousel-wrapper {
	position: relative;
	margin-bottom: 56px;
}

.jcarousel-control-prev, .jcarousel-control-next {
    background: rgba(0, 0, 0, 0) url("images/next-prev.png") repeat-x scroll left top;
    display: block;
    height: 85px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 44px;   text-indent: -9999px;
}
.jcarousel-control-prev {
    background-position: 0px 0px;
    left: 15px;
}
.jcarousel-control-next {
    background-position: -44px 1px;
    left: auto;
    right: 15px;
}
.bottom-area {
	background:   url(images/bg-footer.png) repeat-x left top;
	padding-top: 18px;
	
}
.bottom-area .inner {
	background:  #b9dede;padding-top: 45px;padding-bottom: 40px;
}
.site-footer {
	background-color: #2d373f;
	color: #dce8e6;
	padding: 10px 0;
}

.site-footer .left-footer li {
	display: inline-block;
}.site-footer .left-footer li a{
	color: #dce8e6;
	padding: 0 10px;font-size: 14px;
	text-transform: uppercase;
}
.social li {
	display: block;float: left;
	margin: 0 10px;
}
.social a {
	display: inline-block;
	height: 44px;
    width:  44px;
	background: url(images/social-icons.png) no-repeat left top;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.left-footer {
    margin-top: 16px;
}
.center {
	text-align: center;
}

.social a  span {display: none;}

.social .facebook a{
	background-position: 0px -44px;
}.social .facebook a:hover{
	background-position: 0px -1px
}
.social .twiiter a{
	background-position: -63px -44px;
}.social .twiiter a:hover{
	background-position: -63px -1px
}
.social .youtube a{
	background-position: -126px -44px;
}.social .youtube a:hover{
	background-position: -126px  -1px
}

.jcarousel {
	width: 798px;margin: 0 auto;height: 148px;
	text-align: center;
	overflow: hidden;
}
.jcarousel  ul li img {
-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border:3px solid #ffbe00;
	width: 254px;
	height: 146px;
	border-radius: 3px;
}
.jcarousel  ul li img:hover {
	opacity: 0.8;
}
.jcarousel  ul li{
	
	display: block;
	float: left;
	margin: 0 6px;

}

.site-main {
	padding: 25px 0;
}